.App {
    width: 1000px;
    margin: 0 auto;
    &-title {
        text-align: center;
    }
    &-result-left {
        display: flex;
        
    }
    &-result-right {
      margin-left: 25px; 
    }
}